

body,input {
	font-family: 'Ubuntu Condensed', sans-serif !important;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu Condensed', sans-serif !important;
}

.pheonix{
	padding-top: 10px;
	width: 100px;
	opacity: 0.8;
	

}


img {
	border: 1px solid grey;
	margin-top: 5px;
}


.wrap_upper {
	margin-left: 30px;
	margin-right: 30px;
	height: 735px;
	position: relative;
}

.wrap_lower {
	margin-top: -60px;
	margin-left: 30px;
	margin-right: 30px;
	height: 735px;
	position: relative;
}



div.title {
	display: inline-block;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 25px;
	position: absolute;
	top: 20px;
}

hr {
	margin-top: 20px;
	opacity: 0.4;
}





h2 {
	position: absolute ;
	left: 20px;
	margin-top: 50px;
	font-family:  Calibri, 'Trebuchet MS', sans-serif;
}

.annotate_u {
	position: absolute;
	font-size: 30px;
	top: 150px;
	left: 18px;
	opacity: 0.4;
}

.annotate_l {
	position: absolute;
	font-size: 30px;
	top: 100px;
	left: 18px;
	opacity: 0.4;
}


.cards_upper {
	position: absolute;
	top: 40px;
	width: 100%;
	margin-right: 40px;
    display: flex; /* stack cards next to each other */
    justify-content: space-between; /* Space out nicely */
	text-align: center;
	margin-top: 180px;

}

.cards_lower {
	position: absolute;
	top: 0px;
	width: 100%;
	margin-right: 40px;
    display: flex; /* stack cards next to each other */
    justify-content: space-between; /* Space out nicely */
	text-align: center;
	margin-top: 180px;

}

.cards_u1{
    background-size: cover;
    height: 500px;
    width: 30%;
    background-position: bottom;
	box-shadow: 3px 3px 3px rgb(0,0,0.228);
	background-color: rgb(0,0,0.0,0.4);
}

.cards_u2{
	background-size: cover;
	height: 500px;
	width: 30%;
	background-position: bottom;
	box-shadow: 3px 3px 3px rgb(0,0,0.228);
	background-color: rgb(0,0,0.0,0.4);
}

.cards_u3{
	background-size: cover;
	height: 500px;
	width: 30%;
	background-position: bottom;
	box-shadow: 3px 3px 3px rgb(0,0,0.228);
	background-color: rgb(0,0,0.0,0.4);
}

.cards_u1, .cards_u2, .cards_u3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box; /* squeeze in text without fucking up */
}


.bottom_page{
	width: 100%;
	height: 350px;
	background-color: rgb(0,0,0.0,0.4)
}







body {
	color: #AFAFAF;
	background-image: url(images/acrylic.jpg);
	line-height: 2em;
}


br.clearfix {
	clear: both;
}





h1,h2,h3,h4 {
	font-weight: normal;
	font-family: 'Ubuntu Condensed', sans-serif;
}


h2,h3,h4 {
	color: #E3E3E3;
	margin-bottom: 1.25em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

img.alignleft {
	margin: 5px 20px 20px 0;
	float: left;
}

img.aligntop {
	margin: 5px 0 20px 0;
}


ul {
	margin-bottom: 1.75em;
}

ul h4 {
	margin-bottom: 0.4em;
}

.box {
	margin: 0 0 25px 0;
	overflow: hidden;
}


#footer {
	font-size: 20px;
	padding: 0 0 90px 0;
	text-align: center;
	color: #555;
}

#footer a {
	color: #707070;
}

#header {
	width: 1100px;
	padding: 40px;
	position: relative;
	height: 60px;
}

#logo {
	height: 120px;
	line-height: 120px;
	top: 20px;
	left: 40px;
	position: absolute;
}

#logo a {
	color: #FFF;
	text-decoration: none;
}

#logo h1 {
	font-size: 3.25em;
}

#menu {
	position: absolute;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.05), inset 0px 3px 15px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,0.08);
	right: 40px;
	top: 34px;
	height: 70px;
	line-height: 70px;
}

#menu a {
	font-size: 1.25em;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}

#menu ul {
	padding: 0 20px 0 20px;
	list-style: none;
}

#menu ul li {
	display: inline;
	padding: 0 20px 0 20px;
}

#page {
	margin: 0;
	width: 1100px;
	position: relative;
	padding: 70px 40px 0px 40px;
}

#page .section-list {
	padding-left: 0;
	list-style: none;
}

#page .section-list li {
	clear: both;
	padding: 25px 0 25px 0;
}

#page ul {
	list-style: none;
}

#page ul li {
	padding: 15px 0 15px 0;
	border-top: dotted 1px #404040;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

#sidebar1 {
	padding: 0;
	margin: 0 0 0 445px;
	width: 315px;
}

#sidebar2 {
	width: 315px;
	float: right;
	padding: 0;
}



#wrapper {
	background: rgba(0, 0, 0, 0.8);
	margin: 0px auto 0 auto;
	width: 1180px;
	height: 1900px;
	position: relative;
	box-shadow: inset 0px 0px 30px 0px rgba(255,255,255,0.05), 0px 0px 30px 0px rgba(0,0,0,0.5);
}